header{
  background-color: #585E4C;
}

#menu {
  background-color: #585E4C;
}

.menu_items{
  text-align: left;
  width: 300px !important;
  margin-left: 52%;
}

#home{
  display: flex;
  align-items: center;
  height: 100vh;
}

.text_home h1{
  font-family: Lora;
  font-weight: 400;
  font-style: italic;
  font-size: 65px;
  Line-height: 83.2px;
  letter-spacing:4%;
  color: #FFF8F4;
  ;
}

.text_home p{
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 4%;
}