body {
  background-color: #FFF8F4;
}

h1 {
  font-family: Lora;
  font-weight: 400;
  font-style: italic;
  font-size: 65px;
  line-height: 84px;
  color: #FFF8F4;
}

h2 {
  font-family: Lora;
  font-weight: 400;
  font-style: italic;
  font-size: 46px;
  line-height: 58px;
  color: #585E4C;
}

p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #A2AAA1;
}

header {
  background-color: #585E4C;
}

#menu {
  background-color: #585E4C;
}

.menu_items {
  text-align: left;
  width: 300px !important;
  margin-left: 52%;
}

#home {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.palmeira_home_1 {
  position: absolute;
  top: 10%;
  left: 1%;
  width: 200px;
  height: 200px;
  transform: rotate(120deg);
}

.palmeira_home_2 {
  position: absolute;
  top: 20%;
  right: 3%;
  width: 90px;
  height: 90px;
}

.palmeira_home_3 {
  position: absolute;
  bottom: 2%;
  right: 20%;
  width: 150px;
  height: 150px;
  transform: rotate(20deg);
}

#background_span {
  position: relative;
  display: inline-block;
}

#background_span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 113%;
  height: 115%;
  z-index: 0;
}

.text_home {
  width: 480px;
}



.text_home p {
  font-weight: 300;
  font-size: 18px;
  color: #FFF8F4;
}

#about {
  background-color: #FFF8F4;
  height: 500px;
  position: relative;
  z-index: 1;
}

.palmeira_about_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.palmeira_about_2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.circulo_about_1 {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: -1;
}

.circulo_about_2 {
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: -1;
}

.circulo_about_3 {
  position: absolute;
  bottom: 10%;
  left: 20%;
  z-index: -1;
}

.circulo_about_4 {
  position: absolute;
  bottom: 10%;
  right: 20%;
  z-index: -1;
}

.about_text {
  width: 591px;
}


.about_text p {
  color: #4D4D4D;
}

#facial_treatments {
  background-color: #FCF3EE;
  overflow: hidden;
  position: relative;

}

.meio_circulo_tf_2 {
  position: absolute;
  right: 0;
}

.grid_facial_treatments_img {
  height: 765px;
}

.text_facial_treatments h2 {
  font-size: 32px;
  color: #585E4C;
}

.text_facial_treatments p {
  color: #A2AAA1;
}

.text_facial_treatments li {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #818D7F;
}

#body_treatments {
  background-color: #585E4C;
}

.img_circle_body_treatments {
  position: absolute;
}

.text_bt {
  padding-left: 5%;
  width: 604px;
}

.text_bt h2 {
  font-size: 32px;
  color: #FFF8F4;
}

.text_bt p {
  width: 417px;
  color: #A2AAA1;
}

.text_bt li {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  letter-spacing: 4%;
}

#team {
  background-color: #FCF3EE;
  padding-block: 100px;
  position: relative;
  overflow: hidden;
}

.palmeira_team {
  position: absolute;
  right: 0px;
}

.team_text {
  padding-top: 10%;
  width: 480px;
}

.team_text h2 {
  font-size: 32px;
  color: #585E4C;
}

.team_text p {
  color: #585E4C;
}

#contact {
  background-image: url(../img/png/imagem_fundo_contatos.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_contact {
  width: 847px;
  margin-inline: auto;
  text-align: center;
}

.text_contact h2 {
  font-weight: 600;
  font-size: 40px;
  color: #FFF8F4;
}

.text_contact p {
  color: #FFF8F4;
}

footer {
  background-color: #35392C;
  color: #FFFFFF;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10%;
  margin-top: 10%;
}

.logo_footer {
  width: 277px;
  text-align: center;
  margin: auto;
}

.social_media_footer {
  width: 361px;
  text-align: justify;
  margin: auto;
}

.menu_footer {
  margin: auto;
}